
@{
    ViewData["Title"] = "Who am I????";
}



<body>

    <h1>@ViewData["Title"]</h1>

    <div class="jumbotron paralsec" id="paral">
        <div class="container" id="paralcont">
            <h1 class="display-3 typewriter" id="paralh1">My name is Adam Greenfeld.</h1>
            <p class="lead" id="paralp">I specialise in full-stack web development and interactive media design</p>
        </div>

    </div>
    <div class="jumbotron paralsec2" id="paral">
        <div class="container" id="paralcont">
            <h1 class="display-3" id="paralh1">I strive to create amazing experiences.</h1>
            <p class="lead" id="paralp">
                Whether it be through gorgeous websites, interactive games
                or immersive video content, I always aim at transporting viewers to new realities and possibilities for interacting with media!
            </p>
        </div>

    </div>
    <div class="jumbotron paralsec3" id="paral">
        <div class="container" id="paralcont" style="margin-top: 20px;">
            <div class="row">
                <br>
                <h2>Education</h2>
                <br>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Images/Curtin.jpg" class="card-img-top" alt="Curtin Logo">
                        <div class="card-body text-center">
                            <p class="card-text"><b>Curtin University</b></p>
                            <p class="card-text"><b>2014 to 2016</b></p>
                            <p class="card-text">Majored in Visualisation and Interactive Media.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Images/Curtin.jpg" class="card-img-top" alt="Curtin Logo">
                        <div class="card-body text-center">
                            <p class="card-text"><b>Curtin University</b></p>
                            <p class="card-text"><b>Feb 2017 to Jan 2018</b></p>
                            <p class="card-text">Bachelor of Arts-Honours (Dissertation).</p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card" style="width: 18rem;">
                        <img src="~/Images/codemaster-institute-logo.png" class="card-img-top" alt="Codemaster logo">
                        <div class="card-body text-center">
                            <p class="card-text"><b>Codemaster Insitute</b></p>
                            <p class="card-text"><b>March 2019 to May 2019</b></p>
                            <p class="card-text">
                                Codemaster 12 week
                                Web Software Development
                                Bootcamp.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="jumbotron paralsec4" id="paral">
        <div class="container" id="paralcont">
            <h1 class="display-3" id="paralh1">What I learnt from Curtin?</h1>
            <p class="lead" id="paralp">
                My course at Curtin taught me how to create an understanding with the media and technology currently avaliable to us,
                whilst also creating ways to adapt to the advancements in interacting with the media we consume. I learnt not only the tools for developing such media, but also the mindset
                and practical UX approaches (i.e. Human Centered Design) for making it accessible to users.

            </p>
        </div>

    </div>

    <div class="jumbotron paralsec5" id="paral">
        <div class="container" id="paralcont">
            <h1 class="display-3" id="paralh1">What do I enjoy doing outside of work?</h1>
            <p class="lead" id="paralp">
                Outside of web development, I enjoy a variety of creative hobbies and endevours.
                Such as drawing, writing, editing short videos (for my personal YT channel), playing guitar or even learning a new dev technique/ trick.
                In my off time, there's nothing I enjoy quite more than to kick back to some video games (which mind you is where most of my creative inspiration seems to come from) or even a good book if I really need to chill out.
            </p>
        </div>

    </div>

    <div class="jumbotron paralsec6" id="paral">
        <div class="container" id="paralcont">
            <h1 class="display-3" id="paralh1">Inspirations and Interests:</h1>
            <p class="lead" id="paralp">
                Pink Floyd, Gorillaz, Led Zeppelin, On the Road, Hunter S. Thompson, Jamie Hewlett, Ralph Steadman, Leif Podhajsky, Dark Souls, Red Dead Redemption,
                <b>Saga</b>, Paper Girls, Transmetropolitan, Neil Gaiman (especially Sandman!!!), Haruki Murakami, Neuromancer.
            </p>
        </div>

    </div>

    <div class="jumbotron paralsec7" id="paral">
        <div class="container" id="paralcont">
            <h1 class="display-3" id="paralh1">Wanna learn more?</h1>
            <a class="btn btn-info btn-md" asp-area="" asp-controller="Home" asp-action="Contact" role="button">
                <p class="lead" id="paralp">Contact me!!!</p>
            </a>
            
        </div>

    </div>


    <script>
        ScrollReveal().reveal('#paralcont', { delay: 300 });
        ScrollReveal().reveal('#paralh1', { delay: 600 });
        ScrollReveal().reveal('#paralp', { delay: 1850 });
    </script>






</body>