@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Me";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <h1>@ViewData["Title"]</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="~/Images/Adam.png.jpg" class="img-thumbnail rounded float-left" alt="Profile Picture" />
            </div>
            <div class="col" id="bioBox">
                <div class="text-left">
                    <p>
                        Hello.. I am Adam Greenfeld.
                        I am a creative individual who's dedicated to making content which people will enjoy and become inspired by. I enjoy working in group situations and projects as well as prototype simulations on the spot. Being a recent Curtin Alumni, I believe that I have the skills to perform my hardest in the field. I specialise in a variety of skills within the space of digital and visual design. Skills including (but not limited to):
                    </p>
                    <ul>
                        <li>Web Development- Front-End (HTML5, CSS3, JS, jquery) & Back-End (php, C#)</li>
                        <li>Standard/ 360VR Videography</li>
                        <li>Game Design</li>
                        <li>UI/UX Interface Design</li>


                    </ul>
                </div>
            </div>

        </div>


    </div>
<



<div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
        <br>
        <h2>Education</h2>
        <br>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/Images/Curtin.jpg" class="card-img-top" alt="Curtin Logo">
                <div class="card-body text-center">
                    <p class="card-text"><b>Curtin University</b></p>
                    <p class="card-text"><b>2014 to 2016</b></p>
                    <p class="card-text">Majored in Visualisation and Interactive Media.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/Images/Curtin.jpg" class="card-img-top" alt="Curtin Logo">
                <div class="card-body text-center">
                    <p class="card-text"><b>Curtin University</b></p>
                    <p class="card-text"><b>Feb 2017 to Jan 2018</b></p>
                    <p class="card-text">Bachelor of Arts-Honours (Dissertation).</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/Images/codemaster-institute-logo.png" class="card-img-top" alt="Codemaster logo">
                <div class="card-body text-center">
                    <p class="card-text"><b>Codemasters Insitute</b></p>
                    <p class="card-text"><b>March 2019 to May 2019</b></p>
                    <p class="card-text">
                        Codemaster 12 week
                        Web Software Development
                        Bootcamp.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>