
@{
    ViewData["Title"] = "Who am I????";
}



<body>

    <h1>@ViewData["Title"]</h1>

    <div class="jumbotron paralsec" id="paral">
        <div class="container" id="paralcont">
            <h1 class="display-3" id="paralh1">My name is Adam Greenfeld.</h1>
            <p class="lead" id="paralp">I specialise in full-stack web development and interactive media design</p>
        </div>

    </div>
    <div class="jumbotron paralsec2" id="paral">
        <div class="container" id="paralcont">
            <h1 class="display-3" id="paralh1">I strive to create amazing experiences.</h1>
            <p class="lead" id="paralp">
                Whether it be through gorgeous websites, interactive games
                or immersive video content, I always aim at transporting viewers to new realities and possibilities for interacting with media!
            </p>
        </div>

    </div>

    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <br>
            <h2>Education</h2>
            <br>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img src="~/Images/Curtin.jpg" class="card-img-top" alt="Curtin Logo">
                    <div class="card-body text-center">
                        <p class="card-text"><b>Curtin University</b></p>
                        <p class="card-text"><b>2014 to 2016</b></p>
                        <p class="card-text">Majored in Visualisation and Interactive Media.</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img src="~/Images/Curtin.jpg" class="card-img-top" alt="Curtin Logo">
                    <div class="card-body text-center">
                        <p class="card-text"><b>Curtin University</b></p>
                        <p class="card-text"><b>Feb 2017 to Jan 2018</b></p>
                        <p class="card-text">Bachelor of Arts-Honours (Dissertation).</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <img src="~/Images/codemaster-institute-logo.png" class="card-img-top" alt="Codemaster logo">
                    <div class="card-body text-center">
                        <p class="card-text"><b>Codemaster Insitute</b></p>
                        <p class="card-text"><b>March 2019 to May 2019</b></p>
                        <p class="card-text">
                            Codemaster 12 week
                            Web Software Development
                            Bootcamp.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron paralsec3" id="paral">
        <div class="container" id="paralcont">
            <h1 class="display-3" id="paralh1">What I learnt from Curtin?</h1>
            <p class="lead" id="paralp">
                My course at Curtin taught me how to create an understanding with the media and technology currently avaliable to us,
                whilst also creating ways to adapt to the advancements in interacting with the media we consume. I learnt not only the tools for developing such media, but also the mindset
                and practical UX approaches (i.e. Human Centered Design) for making it accessible to users.

            </p>
        </div>

    </div>

    <div class="jumbotron paralsec4" id="paral">
        <div class="container" id="paralcont">
            <h1 class="display-3" id="paralh1">What do I enjoy doing outside of work?</h1>
            <p class="lead" id="paralp">
                

            </p>
        </div>

    </div>






</body>