@{
    ViewData["Title"] = "Adam Greenfeld";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid">
        <img src="~/Images/Background.JPG" class="img-fluid" id="360Photo" alt="Responsive image">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">@ViewData["Title"]</h1>
                <p class="lead" style="color:dimgrey;">Welcome to my Portfolio Site!</p>
                <hr class="my-4">
                <p>Click the button below to learn more about my work.</p>
                <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="About" role="button">Discover more</a>
            </div>
        </div>
    </div>
</body>