
@{
    ViewData["Title"] = "Skills";
}

<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <label for="htmlLogo">HTML5:</label>
            <img src="~/Images/HTML5_Badge.png" class="img-thumbnail rounded float-left " id="htmlLogo" style=" margin: 0 auto;" />
        </div>
        <div class="col-lg">
            <div class="progress" style="height: 50px; margin:80px auto; ">

                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="max-width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" ><span class="title">95%</span></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <label for="cssLogo">CSS3:</label>
            <img src="~/Images/css_logo.png" class="img-thumbnail rounded float-left " id="cssLogo" style=" margin: 0 auto;" />
        </div>
        <div class="col-lg">
            <div class="progress" style="height: 50px; margin:80px auto; ">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="max-width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><span class="title">95%</span></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <label for="jsLogo">JavaScript:</label>
            <img src="~/Images/javascript-logo.png" class="img-thumbnail rounded float-left " id="jsLogo" style=" margin: 0 auto;" />
        </div>
        <div class="col-lg">
            <div class="progress" style="height: 50px; margin:80px auto; ">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="max-width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><span class="title">75%</span></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <label for="jqueryLogo">Jquery:</label>
            <img src="~/Images/jquery-logo-png.png" class="img-thumbnail rounded float-left " id="jqueryLogo" style=" margin: 0 auto;" />
        </div>
        <div class="col-lg">
            <div class="progress" style="height: 50px; margin:80px auto; ">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="max-width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><span class="title">75%</span></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <label for="phpLogo">JavaScript:</label>
            <img src="~/Images/php_logo.png" class="img-thumbnail rounded float-left " id="phpLogo" style=" margin: 0 auto;" />
        </div>
        <div class="col-lg">
            <div class="progress" style="height: 50px; margin:80px auto; ">
                <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="max-width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"><span class="title">65%</span></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <label for="psLogo">Photoshop CC:</label>
            <img src="~/Images/ps_logo.png" class="img-thumbnail rounded float-left " id="psLogo" style=" margin: 0 auto;" />
        </div>
        <div class="col-lg">
            <div class="progress" style="height: 50px; margin:80px auto; ">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="max-width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><span class="title">90%</span></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <label for="premiereLogo">Premiere Pro CC:</label>
            <img src="~/Images/premiere.png" class="img-thumbnail rounded float-left " id="premiereLogo" style=" margin: 0 auto;" />
        </div>
        <div class="col-lg">
            <div class="progress" style="height: 50px; margin:80px auto; ">
                <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="max-width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><span class="title">100%</span></div>
            </div>
        </div>
    </div>

</div>
