/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  padding-top: 70px;
  margin-bottom: 60px;
 
}

.navbar{
    
    width: 100%;
    z-index: 1;
}

.navbar li a:hover{
    background-color: dodgerblue;
    color: white;
    border-radius: 15px;
    transition: ease-in-out 0.5s
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  
}


#360Photo{
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

#contForm{
    background-color: aliceblue;
    padding: 25px;
    color:dimgrey;
    border: 1px solid;
    border-radius: 2%;
    margin-bottom: 40px;
}

#contactLead{
    color:antiquewhite;
    justify-content: center;
}

#emailLink{
    text-align:center;
    justify-content: center;
}

#bioBox{
    margin-top: 25px;
    background-color: cornflowerblue;
    border: 1px dashed aqua;
    
}

.lead{
    color: black;
}



#projectRow{
    margin: 15px;
}


/* Skill bar styles
-------------------------------------------------- */

#skillLab{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}

.progress-bar {
    width: 0;
    animation: progress 1.9s ease-in-out forwards;
    

    

}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/* Social button styles
-------------------------------------------------- */
#socialBox{
    margin-bottom: 30px;
}

.fa {
    display: inline-block;
    margin-right: 15px;
}

#github:hover {
    color: mediumpurple;
   
}

#wordpress:hover {
    color: aqua;
    
}

#youtube:hover {
    color: red;
    
}

#linked:hover {
    color: ghostwhite;
   
}

#insta:hover {
    color: deeppink;
    
}



    .fa:hover {
        transition: all .2s ease-in-out;
        transform: scale(1.3);
    }

/* Portfolio Images styles
-------------------------------------------------- */


/* About me parralex styles
-------------------------------------------------- */


#paral {
    
    min-height: 850px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}



/*Paral text styles*/

#paralcont {
    background-color: rgba(150, 111, 190, 0.65);
    padding: 45px;
    border-radius: 10px;
    

}

#paralp{
    font-size: 24px;
    text-align: center;
    color: white;
    line-height: 50px;
}

#paralh1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
   
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .08em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: lightgrey;
    }
}


    /*Background image styles*/

.paralsec {
    
    background-image: url(/Images/Adam.png.jpg);
    
}
.paralsec2 {
    background-image: url(/Images/Background.JPG);
}

.paralsec3 {
    background-image: url(/Images/curtin_campus2.jpg);
}

.paralsec4{
    background-image: url(/Images/advenger.JPG);
}

.paralsec5 {
    background-image: url(/Images/tuxOvPY.jpg);
}
.paralsec6 {
    background-image: url(/Images/360imgcity.JPG);
}
    /* Remove Bottom Margin from Jumbotron */
.jumbotron {
    margin-bottom: 0;
}